extends layout

block content

  div#instruction-box
    h5 Please make your way to:

    div.bakery-info
      p Here, we will have some bakery information!

    div.feedback-form
      p Here, we'll render the feedback form!
