doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/underscore-min.js')
    script(src='/javascripts/lib/jquery-2.1.1.min.js')
    script(src='/javascripts/lib/backbone-min.js')
    script(src='/javascripts/lib/handlebars-v1.3.0.js')
    script(src='/javascripts/client.js')
    script(src='/javascripts/init.js')
  body
    include header

    include index

    include footer